<main class="results">
  <h1 class="results__summary">
    {{ data.result_count }} Results found
  </h1>

  <ol>
    {{#each data.listing}}
    <li>
      <div class="property">
        <div class="property__section property__section--img">
          <img
            class="property__img"
            src="{{ image_url }}"
            alt="{{ num_bedrooms }} bedroom {{ property_type }} for sale">
        </div>
        <div class="property__section property__section--details">
          <h2 class="property__title">
            {{ num_bedrooms }} bedroom {{ property_type }} for sale
          </h2>
          <p class="property__price">
            {{ price }}
          </p>
          <p class="property__description">
            {{ description }}
          </p>
        </div>
        <footer class="property__section property__section--footer">
          <img
            class="property__agent-logo"
            src="{{ agent_logo }}"
            alt="">
          <p class="property__agent-detail">
            {{ agent_name }}
          </p>
          <p class="property__agent-detail">
            {{ agent_address }}, {{ agent_postcode }}
          </p>
          <p class="property__agent-detail">
            T: {{ agent_phone }}
          </p>
        </footer>
      </div>
    </li>
    {{/each}}
  </ol>
</main>
